*{
    margin: 0;
    padding: 0;
}

.head-section{
    background-image: url("assets/yatra-head-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 25px 0px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section{
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}

.nav-menu-section{
    display: none;
}

.nav-button{
    display: none;
}

.ham-bar{
    background-color: white;
    height: 48px;
    width: 48px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.header-heading{
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    margin-top: 25px;
}

.header-subheading{
    font-family: "Poppins";
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    margin-top: 05px;
    width: 89%;
}

.header-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    background-color: white;
    color: black;
    border: none;
    height: 60px;
    width: 200px;
    font-family: "Poppins";
    border-radius: 200px;
    margin: 40px 0px 50px 0px;
    font-size: 15px;
}

.famous-destination{
    display: flex;
    align-items: center;
    gap: 20px;
    left: 0;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
	0% { 
        transform: translateX(0);
    }

    100% { 
        transform: translateX(-50%);
    }
}

.destination-card{
    background-color: #fafafa;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
}

.destination-img{
    object-fit: cover;
    height: 150px;
    width: 100%;
    border-radius: 30px;
}

.destination-footer{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 95%;
    margin: 10px 0px;
}

.destination-title{
    font-family: "Poppins";
    font-size: 16px;
    width: 70%;
    font-weight: 300;
}